:root {
    margin: 0px;
    padding: 0px;
    --fuente-breAaking-bad: 'Breaking type', sans-serif;
    --fuente-helvetica: Helvetica, sans-serif;
    background-color: rgba(98, 112, 36, 255);
    box-sizing: border-box;
    font-family: breakingbadfont;
    background-image: url(/fondo.jpg);
    height: auto;
    width: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

@font-face {
    font-family: 'Breaking type';
    src: url(/breaking_b/Breaking\ Bad.ttf);
}
.cabecera {
    src: url(/img/Tabla\ Periódica/cabecera.png);
    display: block;
    margin: 0 auto;
    position: relative;
    align-self: center;
}
#logo1 {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto 10px auto;
}
#contenedorImg1 {
    color: purple;
}

#img1 {
    width: 700px;
    height: 300px;
    display: block;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
    border: 10px outset brown;
    border-radius: 22px;
}

.breakingBad {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    top: 0;
    width: auto;
    z-index: 1;
}

.txtPequena {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.txtGrande {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}


form{
   margin: auto;
   padding: 20px;
width: 50%;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 10px;
}

.contenedor-poster {
width: 700px;
height: 300px;
margin: auto;
background-position: center;
border: 10px outset brown;
border-radius: 22px;
object-fit: fill;
}

.contenedor-logotipo{
    width: 200px;
    height: 200px;
    background-image: url(../img/logo.PNG);
    background-size:cover;
    margin: auto; 
}

h1{
    font-family: 'Breaking type';
    font-style: normal;
    font-size: 3em;
    font-weight: 100;
    color: white;
    text-align: center;
}

.contenedor-poster {
    width: 700px;
    height: 300px;
    margin: auto;
    background-position: center;
    border: outset, 10px;
    border-color: brown;
    border-radius: 22px;
    object-fit: fill;
}

.poster {
    width: 700px;
    height: 300px;
    display:block;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}

.formulario {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    margin: auto;
}

form {
    background-color: rgba(0, 255, 98, 0.259);
    border-radius: 15px;
    max-width: 600px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 100;
    color: white;
    text-align:left;
    margin: auto;
}

fieldset {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.tabla {
    background-color: #0c3e11;
}

.contenedor-cabecera{
    width: 450px;
    height: 220px;
    background-image: url(../img/cabecera.png);
    background-size:cover;
    margin: auto; 
}

.tabla1{
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
}

td {
    border: 10px solid black;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    text-align: center;
    
}

.celda_rowspan {
    width: 80px;
    height: 160px;
}

.celda_rowspan img {
    width: 100%;
    max-width: 80px; 
    height: 100%;
    max-height: 160px; 
    object-fit: contain;
    display: flexbox;
    margin: 0;

} 

.tabla2{
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
}
.verde-lima {
    background-color: #d9f700;
}
.verde-claro {
    background-color: #bff149;
}
.verde-oliva {
    background-color: #546026;
}
.blanca {
    background-color: #eaebe4;
}
.verde-lima{
    background-color: #e7ed30 ;
}
.gris {
    background-color: #939982;
}
.verde-brillante { 
    background-color:#607809 ;
}
.verde-amarillo {
    background-color: #cee38a  ;
}
.verde-oliva-oscuro{
    background-color:#2e3c03;
}
.morada {
    background-color:rgb(174, 99, 174);
}
.negra {
    background-color: black;
}
